<html>
<head>
    <title>SIPA POLBAN</title>
    {% block stylesheets %}
     <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
     <!-- CSS Libs -->
     <link rel="stylesheet" type="text/css" href="{{ asset('lib/css/bootstrap.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('lib/css/font-awesome.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('lib/css/animate.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('lib/css/bootstrap-switch.min.css') }}">
     <!-- CSS App -->
     <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('css/themes/flat-blue.css') }}">

     <style type="text/css">
         .navbar {
            padding-left: 0px;
        }
        .navbar .navbar-breadcrumb > li {
            font-size: 1.9em;
        }
        .app-containers .content-container .side-menu .navbar-nav li a .title {
            font-size: 15px;
        }
        .app-containers .content-container .side-menu .navbar-nav li.dropdown ul li a {
            font-size: 15px;
        }
        .flat-blue .side-menu.sidebar-inverse .navbar li {
            margin-bottom: 15px;
        }
        .flat-blue .navbar, .flat-blue .navbar.navbar-default {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        }
        .btn-shadow{
            box-shadow: 4px 4px 2px -3px rgba(0, 0, 0, 0.61);
            margin-right: 1.5%;
        }
        .table tbody tr td a.btn {
            padding: 3px 10px;
            margin: 0;
        }
        .table tbody tr td{
            vertical-align: middle;
        }
        .card .card-body button.btn{
            margin-top: -1%;
            margin-bottom: 1%;
        }
        .card .card-body a.btn{
            margin-top: -1%;
            margin-bottom: 1%;
        }
        .card .card-body .sub-title {
            font-size: 1.2em;
            padding: 0.5em 0em 0.4em 0em;
            margin-bottom: 10px;
        }
        .card .card-title a.btn{
            padding: 3px 10px;
            margin: 0;
        }
        .flat-blue a {
            color: #2196F3;
        }
        .card .card-body a#addRow{
            margin-top: -1%;
            margin-bottom: 2%;
        }
    </style>

{% endblock %}
</head>
<body class="flat-blue">
    <div class="app-containers">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header" style="padding: 5px 0px;">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb" style="background: url(<?php echo base_url()?>/assets/img/opl.png) no-repeat;background-size: contain;padding-left: 70px;">
                            <li class="active">Sistem Informasi Pengadaan Alat</li>
                        </ol>
                        
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        
                        
                    </ul>
                </div>
            </nav>

            <div class="side-menu sidebar-inverse" style="margin-top: 70px;">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon "><i class="fa fa-long-arrow-right"></i></div>
                                <div class="title"> Menu </div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>

                        <ul class="nav navbar-nav" style="font-size: 20px;">

                            <li class="list {% if page == "pagu" %}active{% endif %}">
                                <a href="/pagu">
                                    <span class="icon fa fa-money"></span><span class="title">Pagu</span>
                                </a>
                            </li> 
                            <li class="list">
                                <a href="/logout">
                                    <span class="icon fa fa-sign-out "></span><span class="title">Logout</span>
                                </a>
                            </li> 
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            {% block body %}{% endblock %}
            </div>
        </div>
        
    <!-- Javascript Libs -->

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('lib/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('lib/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('lib/js/bootstrap-switch.min.js') }}"></script>
        <!-- Javascript -->
        <!-- <script type="text/javascript" src="{{ asset('js/app.js') }}"></script> -->
        <script>
          // $(document).ready(function(){  

          //     $(function () {
          //       $('[data-toggle="tooltip"]').tooltip()
          //   })   
          //     $('.datepicker').datepicker({       
          //       format:'dd M yyyy' , 
          //       autoclose: true,
          //       orientation: 'bottom'    
          //   }); 
          // });
      </script>
      
  {% endblock %}
</body>
</html>
