{% extends 'template.html.twig' %}
{% block body %}
	<!-- Main layout -->
	<div class="app-container-slide">
		<div class="container-fluid">
			<div class="side-body padding-top"  style="padding-top:25px;">
				<!-- Main Content -->
				<div class="row no-margin-bottom">
					<div class="col-xs-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">
									<span class="title">Pengelolaan Pagu  
										{# <select class="periode">
											<?php 
											if(empty($periode)){ ?>
											<option><?=$currentDate?></option>
											<?php }else
											foreach($periode as $p){ ?>
											<option <?=$p['TAHUN_ANGGARAN']==$currentDate ? 'selected' : '' ?>><?=$p['TAHUN_ANGGARAN']?></option>
											<?php } ?>
										</select> #}
									</span>
									<br><br>
									{# <?php 
									$total_anggaran=0;
									foreach ($pagu as $pag){
									$total_anggaran+=$pag['PAGU_ALAT'];
								}
								?> #}
								<span class="title">Total Pagu : Rp {{ total.total_pagu|number_format(0, ',', '.')}}
								</span>
							</div>
						</div>
						<div class="card-body">

							<button type="button" class="btn btn-primary btn-info" data-toggle="modal" data-target="#modalAddPagu">
								<i class="fa fa-plus-square"></i>&nbsp; Tambah Data Pagu
							</button>
						</a>
						<table class="table table-stripped table-bordered table-hover">
							<tr class="active">
								<th>Jurusan</th>
								<th>Tahun Anggaran</th>
								<th>Pagu Alat</th>
								<th colspan="2" style="text-align:center">#</th>
							</tr>
							{% for pagu in data %}
								<tr>
									<td>{{ pagu.idJurusan.namaJurusan }}</td>
									<td>{{ pagu.tahunAnggaran.tahunAnggaran }}</td>
									<td align="right">Rp. {{ pagu.paguAlat|number_format(0, ',', '.') }}</td>
									<td align="center"><a href="#" class="open-EditDialog" data-alat="{{ pagu.paguAlat }}" data-id="{{ pagu.idPagu }}" data-toggle="modal" data-target="#modalEditPagu"><i class="fa fa-pencil"></i></a></td>
									<td align="center"><a href="{{ path('pagu_delete', {'id': pagu.idPagu}) }}" onclick="return confirm('Are you sure to delete this data?')"><i class="fa fa-remove"></i></a></td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- End Main Content -->
		<!-- Modal Add Pagu -->
		<div class="modal fade modal-info" id="modalAddPagu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="myModalLabel">Tambah Data Pagu (Tahun Anggaran {{ "now"|date('Y') }})</h4>
					</div>
					<div class="modal-body">
						<div class="card">
							<div class="card-body"  style="padding: 0px 20px !important;">
								<form action="/pagu" method="POST">

									<!-- <div class="sub-title">Pagu Alat Jurusan <b style="float: right;"> TOTAL PAGU : <span id="totPagujur">0</span></b></div> -->
									<div class="sub-title"><b>{{app.session.get('jurusan').namaJurusan}}</b>
										<input type="number" required name="pagu_alat" class="form-control formattedNumberField" placeholder="Masukan Nominal Pagu {{app.session.get('jurusan').namaJurusan}}">
										<input type="hidden" name="tahun" value="{{ "now"|date('Y') }}">
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success">Simpan</button>
						</form>
						<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal Add Pagu -->	
		<!-- Modal Edit Pagu -->
		<div class="modal fade modal-info" id="modalEditPagu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="myModalLabel">Edit Data Pagu (Tahun Anggaran {{ "now"|date('Y') }})</h4>
					</div>
					<div class="modal-body">
						<div class="card">
							<div class="card-body"  style="padding: 0px 20px !important;">
								<form action="/pagu/edit" method="POST">

									<!-- <div class="sub-title">Pagu Alat Jurusan <b style="float: right;"> TOTAL PAGU : <span id="totPagujur">0</span></b></div> -->
									<div class="sub-title"><b>{{app.session.get('jurusan').namaJurusan}}</b>
										<input type="number" required name="pagu_alat" class="form-control formattedNumberField" placeholder="Masukan Nominal Pagu {{app.session.get('jurusan').namaJurusan}}" id="pagu_alat">
										<input type="hidden" name="id_pagu" id="id_pagu">
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success">Simpan</button>
						</form>
						<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal Add Pagu -->	
	</div>
</div>
</div>

<script type="text/javascript" src="{{ asset('lib/js/jquery.min.js') }}"></script>
<script type="text/javascript">
	$(document).on("click", ".open-EditDialog", function () {
		var pagu_id = $(this).data('id');
		var pagu_alat = $(this).data('alat');
		$(".modal-body #id_pagu").val( pagu_id );
		$(".modal-body #pagu_alat").val( pagu_alat );
	});
</script>
{% endblock %}
